@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the wrapper div */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* Style the content-wrapper div */
.content-wrapper {
  flex: 1;
  padding: 2rem;
}

/* Style the content-header section */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Style the container-fluid div */
.container-fluid {
  padding: 0;
  margin: 0 auto;
  max-width: 1140px;
}

/* Style the row div */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Style the col-sm-6 div */
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Style the breadcrumb */
.breadcrumb {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  background-color: transparent;
  clear: both;
}

/* Style the breadcrumb items */
.breadcrumb-item {
  float: left;
}

/* Style the breadcrumb item links */
.breadcrumb-item a {
  color: #6c757d;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  &:hover {
    color: #363a3e;
    text-decoration: underline;
  }
}

/* Style the Main content section */
.content {
  padding: 0;
}

/* Style the timeline */
.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
  text-align: left;
}

/* Style the timeline items */
.timeline .timeline-item {
  margin-bottom: 20px;
}

/* Style the timeline item icons */
.timeline .timeline-item .fas {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 20px;
  padding: 4px;
  background-color: #d8e0e7;
  border-radius: 50%;
  color: #97a0a9;
}

/* Style the timeline item headers */
.timeline .timeline-item .timeline-header {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f4f9fa;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Style the timeline item headers links */
.timeline .timeline-item .timeline-header a {
  color: #3c8dbc;
  text-decoration: none;
  font-weight: bold;
}

/* Style the timeline item bodies */
.timeline .timeline-item .timeline-body {
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Style the timeline item footer */
.timeline .timeline-item .timeline-footer {
  margin-top: 1rem;
  text-align: right;
}

/* Style the info-box */
.info-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}


